.carousel-item img {
  height: 550px;
}
.carousel-navbar{
  position: relative;
}
.nav-menu{
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 50px;
}
.nav-menu li{
  padding: 0 1% !important;
}
.nav-menu li a {
color: white !important;
}
.description{
  font-size: medium;
  margin: 5%;
}
.what-art-container{
  position: relative;
  text-align: center;
  color: white;
}
.what-art{
  position: absolute;
  top: 20%;
  left: 5%;
  background-color: rgba(128, 128, 128, 0.565);
  border-radius: 10px;
}
.what-art h2 , .what-art p {
  padding: 5%;
}
